body{
    margin: 0;
    padding: 0;

}
main{
    padding: 16px;

}
footer{
    padding: 24px 0px 24px 0px;
    background: rgb(163, 224, 163);
    padding: 16px;
    font-size:20px;
}

img{
    height: 200px;
}

nav{
    color: black;
    border-bottom: 1px;
    padding: 16px 16px 16px 16px;
    background: orangered;
}
nav>a{
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

.color_green{
    color: rgb(59, 185, 59);
}

tbody>tr:nth-child(2n){
    background: lightgray;
}
